
@{
    ViewBag.Title = "HighPrice";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";

    List<PortalDataLayer.TblProduct> GetPriceProducts = new List<PortalDataLayer.TblProduct>();
    if (ViewBag.HighProductsList != null)
    {
        GetPriceProducts = ViewBag.HighProductsList;
    }
}
<div class="w3l_banner_nav_right">
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/Home/">Ana Sayfa</a><span>|</span></li>
                <li>Tüm Ürünler</li>
            </ul>
        </div>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid">
        <h3>Tüm Ürünler</h3>
        <!--FIRAT-START-->
        <div class="" style="float:right">
            <label class="btn btn-lg btn-primary"><a href="~/Products/" style="color:white">Filtreleri Sıfırla</a></label>
        </div>
        <div class="dropdown" style="margin:0 0% 1% 0; float:right">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Sırala<span class="caret"></span></button>
            <ul id="dropdownlist" class="dropdown-menu" style="opacity:0.7;">
                @{
                    if (ViewBag.UrunAdi != null && ViewBag.UrunAdi != "")
                    {
                        TempData["UrunAdi"] = ViewBag.UrunAdi;
                        <li>@Html.ActionLink("En Düşük Fiyat", "LowPrice", "Products")</li>
                        <li>@Html.ActionLink("En Yüksek Fiyat", "HighPrice", "Products")</li>

                        //<li>@Html.ActionLink("En Yüksek Fiyat", "HighPrice", "Products")</li>

                    }
                    else
                    {
                        TempData["UrunAdi"] = Request.QueryString[null];
                        <li>@Html.ActionLink("En Düşük Fiyat", "LowPrice", "Products")</li>
                        <li>@Html.ActionLink("En Yüksek Fiyat", "HighPrice", "Products")</li>
                    }
                }
            </ul>
        </div>
        <h style="color:red"><b>En yüksek fiyata göre listelendi.</b></h>
        <br /><br />
        <!--FIRAT--END-->
        <div class="w3ls_w3l_banner_nav_right_grid1">
            <h6>
                @{
                    if (ViewBag.UrunAdi != null)
                    {
                        <label>Aranan Ürün: @ViewBag.UrunAdi</label>
                    }

                }
            </h6>

            @{

                foreach (var Product in GetPriceProducts)
                {
                    //double Price = (double)Product.ProductPrice * (100 - (double)Product.ProductDiscount) / 100;
                    if (Product.ProductDiscount != 0)
                    {
                        <div class="col-md-3 w3ls_w3l_banner_left">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">

                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a href="~/Products/ProductDetail/@Product.ProductId"><img src="@Url.Content(Product.ProductImage)" alt=" " class="img-responsive" /></a>
                                                    <p>@Product.ProductName</p>
                                                    <h4>@Product.PriceOnSale ₺<span>@Product.ProductPrice ₺</span></h4>
                                                </div>
                                                <div class="snipcart-details">
                                                    @using (Html.BeginForm("AddProductAction", "Home", FormMethod.Post))
                                                    {

                                                        <fieldset>
                                                            <input type="hidden" name="ProductId" value="@Product.ProductId" />
                                                            <input type="hidden" name="ReturnUrl" value="~/Products/HighPrice">
                                                            <input type="submit" name="submit" value="Sepete Ekle" class="button">
                                                        </fieldset>
                                                    }
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 w3ls_w3l_banner_left">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">

                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a href="~/Products/ProductDetail/@Product.ProductId"><img src="@Url.Content(Product.ProductImage)" alt=" " class="img-responsive" /></a>
                                                    <p>@Product.ProductName</p>
                                                    <h4>@Product.ProductPrice ₺</h4>
                                                </div>
                                                <div class="snipcart-details">
                                                    @using (Html.BeginForm("AddProductAction", "Home", FormMethod.Post))
                                                    {

                                                        <fieldset>
                                                            <input type="hidden" name="ProductId" value="@Product.ProductId" />
                                                            <input type="hidden" name="ReturnUrl" value="~/Products/HighPrice">
                                                            <input type="submit" name="submit" value="Sepete Ekle" class="button">
                                                        </fieldset>
                                                    }
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }


            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>

