@*hhuseyin.demirtas*@
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

@{
    List<PortalDataLayer.TblCart> CartList = new List<PortalDataLayer.TblCart>();
    List<PortalDataLayer.TblProduct> ProductInfos = new List<PortalDataLayer.TblProduct>();


    if (ViewBag.CartList != null && ViewBag.ProductInfos != null)
    {
        CartList = (List<PortalDataLayer.TblCart>)ViewBag.CartList;
        ProductInfos = (List<PortalDataLayer.TblProduct>)ViewBag.ProductInfos;
    }
}
<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/Home/Index">Ana Sayfa</a><span>|</span></li>
            <li>Sepet</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <div class="w3l_banner_nav_right">
        <!-- about -->
        <div class="privacy about">
            <h3>Sepet</h3>

            <div class="checkout-right">
                <h4>Alışveriş Sepetiniz  X Ürün İçermektedir</h4>
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Sıra Numarası</th>
                            <th>Ürün</th>
                            <th>Ürün İsmi</th>
                            <th>Ürün Adeti</th>
                            <th>Ürün Fiyatı</th>
                            <th>Ürün Çıkarma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rem1">
                            @for (int i = 0; i < CartList.Count; i++)
                            {
                                <td class="invert"> @(i+1) </td>
                                <td class="invert-image"><img src="@ProductInfos[i].ProductImage" alt=" " class="img-responsive"></td>
                                <td class="invert">@ProductInfos[i].ProductName</td>
                                <td class="invert">@CartList[i].Quantity</td>
                                <td class="invert">@ProductInfos[i].ProductPrice</td>
                                <td class="invert">
                                    <button> Ürünü Sil</button>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <h4>Sepet Özeti</h4>
                    <ul>
                        @{
                            decimal TotalDiscount = 0;
                            decimal TotalPrice = 0;

                            for (int i = 0; i < CartList.Count; i++)
                            {
                                decimal Discount = 0;
                                Discount = (decimal)(ProductInfos[i].ProductPrice * (ProductInfos[i].ProductDiscount / 100));
                                decimal LastPrice = (decimal)(ProductInfos[i].ProductPrice - Discount);

                                TotalDiscount += (decimal)(CartList[i].Quantity * Discount);
                                TotalPrice += (decimal)(CartList[i].Quantity * LastPrice);

                                <li>
                                    @ProductInfos[i].ProductName <i> : </i> İndirim :% @ProductInfos[i].ProductDiscount <span>₺@(ProductInfos[i].ProductPrice * CartList[i].Quantity) </span>
                                </li>
                            }
                        }

                        <li>Toplam İndirim  <span>₺ @TotalDiscount</span></li>
                        <li>Toplam Tutar  <span>₺ @TotalPrice</span></li>
                    </ul>
                </div>
                <div class="col-md-8 address_form_agile">
                    <div class="checkout-right-basket">
                        <a href="~/Payment/Index">Ödeme Yap <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
