
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";

    <!--Hüseyin Bilgiç - Start -->

    List<PortalDataLayer.TblProduct> ProductsByCategory = new List<PortalDataLayer.TblProduct>();
    PortalDataLayer.TblCategory Category = new PortalDataLayer.TblCategory();
    if (ViewBag.Category != null)
    {
        Category = (PortalDataLayer.TblCategory)ViewBag.Category;

    }
    if (ViewBag.ProductsByCategory != null)
    {
        ProductsByCategory = (List<PortalDataLayer.TblProduct>)ViewBag.ProductsByCategory;
    }
    <!--Hüseyin Bilgiç - End -->
}


<div class="w3l_banner_nav_right">
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <!--Hüseyin Bilgiç - Start -->
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/">Home</a><span>|</span></li>
                @if (ViewBag.Category != null)
                {
                    <li>@Category.CategoryName</li>
                }
                <!--Hüseyin Bilgiç - End -->
            </ul>
        </div>
    </div>
    <br />
    @if (ProductsByCategory.Count != 0)
    {
        <!--Hüseyin Bilgiç - Start -->
        if (ViewBag.Category != null)
        {
            <h1 class="container" id="categoryName" style="text-align: center;">@Category.CategoryName</h1><br />
        }
        <!--Hüseyin Bilgiç - End -->
        foreach (PortalDataLayer.TblProduct Product in ProductsByCategory)
        {
            if ((bool)Product.ProductActive)
            {
                string total = ((decimal)@Product.ProductPrice - ((decimal)@Product.ProductPrice * ((decimal)@Product.ProductDiscount / 100))).ToString("f2");
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            @*<div class="tag"><img src="~/wwwroot/images/tag.png" alt=" " class="img-responsive" /></div>*@
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <!--Hüseyin Bilgiç - Start -->
                                        <div class="snipcart-thumb">
                                            <a href="single.html"><img title=" " alt=" " src="~/@Product.ProductImage" /></a>
                                            <p>@Product.ProductName</p>
                                            <h4>
                                                @total
                                                @if (@Product.ProductPrice.ToString() != @total)
                                                {
                                                    <span>@Product.ProductPrice</span>
                                                }

                                            </h4>
                                        </div>
                                        <!--Hüseyin Bilgiç - End -->
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="checkout.html" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    @*↓ BURAYA DB den GELEN DEGER YAZILACAK ↓*@
                                                    <input type="hidden" name="item_name" value="Sun Flower Oil" />
                                                    <input type="hidden" name="amount" value="7.99" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="TRY" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Sepete Ekle" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

            }

        }
    }
    //Kategori seçilmemiş ise bu sayfa gözükecek. - Hüseyin Bilgiç
    else if (ProductsByCategory.Count == 0 && ViewBag.Category == null)
    {
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="w3l_banner_nav_right_banner">
                            <h3>Manav Melih ile<span>Evlerinizi</span>Şenlendirin</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Alışverişe Başla">Alışverişe Başla</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_nav_right_banner1">
                            <h3>Katkı Maddesiz <span>Doğal </span> Ürünler ile</h3>
                            <div class="more">
                                <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Şimdi Al">Şimdi Al</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_nav_right_banner2">
                            <h3>En uygun <i>Fiyatlarla</i></h3>
                            <div class="more">
                                <a href="kampanyasayfasi.html" class="button--saqui button--round-l button--text-thick" data-text="Kampanyalarımız">Kampanyalarımız</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    }
    //Kategori seçilmiş fakat içerisinde ürün yoksa bu sayfa gözükecek. - Hüseyin Bilgiç
    else
    {
        <h1 class="container" id="categoryName" style="text-align: center;">Seçilen kategoride ürün bulunmamaktadır.</h1>
    }

    <!-- flexSlider -->
    <link rel="stylesheet" href="~/wwwroot/css/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/wwwroot/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
</div>
<div class="clearfix"></div>
<!-- banner -->
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>İndirimli Ürünler</h3>
        <div class="agile_top_brands_grids">
            <!-- İNDİRİMLİ ÜRÜNLER İÇİN FOR DÖNGÜSÜ BURADAN BAŞLAYACAK-->
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        @*<div class="tag"><img src="~/wwwroot/images/tag.png" alt=" " class="img-responsive" /></div>*@
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="single.html"><img title=" " alt=" " src="~/wwwroot/images/1.png" /></a>
                                        <p>Sun Flower Oil</p>
                                        <h4>₺ 7.99 <span>₺ 10.00</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <form action="checkout.html" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                @*↓ BURAYA DB den GELEN DEGER YAZILACAK ↓*@
                                                <input type="hidden" name="item_name" value="Sun Flower Oil" />
                                                <input type="hidden" name="amount" value="7.99" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="TRY" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Sepete Ekle" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!-- İNDİRİMLİ ÜRÜNLER İÇİN FOR DÖNGÜSÜ BURADA BİTECEK.-->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
<div class="fresh-vegetables">
    <div class="container">
        <h3>Neden Bizi Tercih Etmelisiniz?</h3>
        <div class="w3l_fresh_vegetables_grids">
            <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                <div class="w3l_fresh_vegetables_grid2">
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Güven</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Kalite</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Doğallık</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Tazelik</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Uygun Fiyatlar</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Müşteri Memnuniyeti</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Bol Çeşit</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Doyurucu Lezzetler</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 w3l_fresh_vegetables_grid_right">
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="~/wwwroot/images/8.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <div class="w3l_fresh_vegetables_grid1_rel">
                            <img src="~/wwwroot/images/7.jpg" alt=" " class="img-responsive" />
                            <div class="w3l_fresh_vegetables_grid1_rel_pos">
                                <div class="more m1">
                                    <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Alışverişe Başla">Alışverişe Başla</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="~/wwwroot/images/10.jpg" alt=" " class="img-responsive" />
                        <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                            <h5>Gel Vatandaş</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="~/wwwroot/images/9.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="~/wwwroot/images/11.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="agileinfo_move_text">
                    @*<div class="agileinfo_marquee">
                            <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
                        </div>
                        <div class="agileinfo_breaking_news">
                            <span> </span>
                        </div>*@
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //fresh-vegetables -->
