
@{
    ViewBag.Title = "ContactDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    PortalDataLayer.TblContact Contact = new PortalDataLayer.TblContact();
    if (ViewBag.Detail != null)
    {
        Contact = ViewBag.Detail;
    }
}


<div class="jumbotron">
    <div class="card text-center">
        <div class="card-header bg-primary text-light">
            Kişi → <i class="fa fa-user"></i> @Contact.ContactName
        </div>
        <div class="card-body">
            <i class="fa fa-envelope-o"></i>  Konu → @Contact.ContactSubject<br /><br />
            <i class="fa fa-envelope-o text-info" aria-hidden="true"></i> E-Posta Adresi → <a href="mailto:@Contact.ContactMail"> @Contact.ContactMail</a><br /><br />
            <i class="fa fa-phone text-info" aria-hidden="true"></i> Telefon Numarası → <a href="tel:@Contact.ContactPhone"> @Contact.ContactPhone</a><br /><br />
            <i class="fa fa-envelope-o text-info" aria-hidden="true"></i> Mesaj → @Contact.ContactMessage
        </div>
    </div>
</div>

