
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    PortalDataLayer.TblOrder Order = new PortalDataLayer.TblOrder();
    List<PortalDataLayer.TblCart> CartsInOrder = new List<PortalDataLayer.TblCart>();
    BusinessLayer.TBusinessLayer businessLayer = new BusinessLayer.TBusinessLayer();

    if (ViewBag.OrderbyId != null)
    {
        Order = ViewBag.OrderbyId;
        CartsInOrder = ViewBag.CartsInOrder;
    }
}

<div class="privacy about">
    @{
        PortalDataLayer.TblUser User = businessLayer.GetUserByUserId((int)Order.UserId);
        <h3>Sipariş Detayları</h3>
        <br />
        if ((bool)Order.IsDelivered == false)
        {
            <h4 class="btn btn-danger btn-block">Teslim Edilmedi</h4>
        }
        <div class="checkout-right">
            <h4><i class="text-info" aria-hidden="true"></i>@Order.OrderDateTime</h4>
            <h4><i class="text-info" aria-hidden="true"></i>#@Order.OrderId @Order.Name</h4>
            <h4><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:@Order.PhoneNumber"> @Order.PhoneNumber</a></h4>
            <h4>Adres: @Order.Address / @Order.City</h4>
            <h4>Alışveriş Sepeti @CartsInOrder.Count Farklı Ürün İçermektedir, Sepet Fiyatı: @Order.TotalPrice</h4>
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SepetId</th>
                        <th>Ürün İsmi</th>
                        <th>Ürün Resmi</th>
                        <th>Ürün Adeti</th>
                        <th>Birim Fiyatı</th>
                        <th>Toplam Fiyatı</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (PortalDataLayer.TblCart Cart in CartsInOrder)
                    {
                        PortalDataLayer.TblProduct Product = businessLayer.GetProductByProductId((int)Cart.ProductId, out string OMessage);

                        <tr class="rem1">
                            <td class="invert" width="30"> @Cart.CartId </td>
                            <td class="invert" width="50"> @Product.ProductName </td>
                            <td class="invert-image" width="50"><img src="@Product.ProductImage" width="30" height="30" class="img-responsive"></td>
                            <td class="invert" width="50"> @Cart.Quantity </td>
                            <td class="invert" width="50"> @Product.ProductPrice </td>
                            <td class="invert" width="50"> @Cart.Price </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <br />
        <h5>Hesap detayları:</h5>
        <ul class="phone_email">
            <li><i class="text-info" aria-hidden="true"></i>#@User.UserId @User.UserName</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:@User.UserPhoneNumber">@User.UserPhoneNumber</a></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:@User.UserMail">@User.UserMail</a></li>
        </ul>

    }
</div>
