
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    List<PortalDataLayer.TblProduct> ProductList = new List<PortalDataLayer.TblProduct>();
    List<PortalDataLayer.TblCategory> CategoryList = new List<PortalDataLayer.TblCategory>();

    if (ViewBag.CategoryList != null)
    {
        CategoryList = ViewBag.CategoryList;
    }

    PortalDataLayer.TblProduct Product = new PortalDataLayer.TblProduct();
    if (ViewBag.ProductbyId != null)
    {
        Product = ViewBag.ProductbyId;
    }
}


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3 class="text-success text-center">Ürün Düzenleme Formu</h3>
                <br />
                @using (Html.BeginForm("ProductEdit", "Admin", FormMethod.Post))
                {
                    <div class="form-group">
                        <input type="hidden" name="TxtProductId" value="@Product.ProductId" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ürün Adı : </label>
                        <input class="form-control" type="text" name="TxtProductName" placeholder="Adı" value="@Product.ProductName" required="">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" maxlength="300" name="TxtProductDescription" placeholder="Açıklama" value="@Product.ProductDescription" required=""></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" name="TxtProductImage" placeholder="Resmi" value="@Product.ProductImage">
                        <small class="text-muted">(Örnek : Ürün.jpg)</small>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ürün Fiyatı :</label>
                        <input class="form-control" type="text" name="TxtProductPrice" placeholder="Fiyatı" value="@Product.ProductPrice" required="">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ürün İndirim Miktarı :</label>
                        <input class="form-control" type="text" name="TxtProductDiscount" placeholder="İndirim Yüzde Miktarı" value="@Product.ProductDiscount" required="">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ürün Stok Miktarı :</label>
                        <input class="form-control" type="text" name="TxtProductStock" placeholder="Stok Miktarı" value="@Product.ProductStock" required="">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ürün Kategorisi : </label>
                        <select class="form-control" name="TxtCategory">
                            @{
                                foreach (var item in CategoryList)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            }
                        </select>
                    </div>
                    <input id="ProductSubmit" type="submit" class="btn btn-success btn-block" value="Güncelle">
                }
                <a href="@Url.Action("ProductList")" class="btn btn-link">Vazgeç</a>
            </div>
        </div>
    </div>
</div>


