
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@{
    PortalDataLayer.TblUser User = new PortalDataLayer.TblUser();
    List<PortalDataLayer.TblOrder> AllOrders = new List<PortalDataLayer.TblOrder>();

    if (ViewBag.UserById != null)
    {
        User = ViewBag.UserById;
    }

    if (ViewBag.AllOrders != null)
    {
        AllOrders = ViewBag.AllOrders;
    }
    decimal TotalRevenue = 0;
}


<div class="privacy about">
    <h3 class="text-info">#@User.UserId @User.UserName</h3>

    @if (User.UserActive == false)
    {
        <h4 class="btn btn-danger btn-block">Bu Hesap Artık Aktif Değil</h4>
    }
</div>


<ul class="phone_email">
    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:@User.UserPhoneNumber"> @User.UserPhoneNumber</a></li>
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:@User.UserMail"> @User.UserMail</a></li>
    <li><i class="text-info" aria-hidden="true"></i>Kayıt tarihi: @User.UserRegisterDate</li>
</ul>



<h4>#@User.UserId @User.UserName Kullanıcısına Ait siparişler</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Telefon Numarası</th>
            <th>Adres</th>
            <th>Fiyat</th>
            <th>Tarih / Saat</th>
            <th>Detay</th>
            <th>Teslim Et</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Order in AllOrders)
        {
            if (Order.UserId == User.UserId)
            {
                TotalRevenue += (decimal)Order.TotalPrice;
                <tr>
                    <th width="30">@Order.OrderId</th>
                    <td width="50">@Order.Name</td>
                    <td width="50">@Order.PhoneNumber</td>
                    <td width="600">@Order.Address / @Order.City</td>
                    <td width="40">@Order.TotalPrice</td>
                    <td width="40">@Order.OrderDateTime</td>
                    <td width="40"><a href="~/Admin/OrderDetail?OrderId=@Order.OrderId" class="btn btn-primary">Detay</a></td>
                    @if (Order.IsDelivered == false)
                    {
                        <td width="40"><a href="@Url.Action("OrderDeliver","Admin", new {Id = Order.OrderId} )" class="btn btn-danger">Teslim Et</a></td>
                    }
                    else
                    {
                        <td width="40"><a href="#" class="btn btn-warning">Teslim Edildi</a></td>
                    }

                </tr>
            }
        }
    </tbody>
    Siparişlerin Toplam Getirisi: @TotalRevenue
</table>
